# Server Configuration
PORT=8000

# Database Configuration
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=sua_senha_aqui
DB_NAME=trabalho_banco_dados
DB_NAME_STAGING=trabalho_banco_dados_staging

# Environment
NODE_ENV=development